# Core ML
torch>=2.0.0
transformers>=4.35.0
accelerate>=0.24.0

# RL
stable-baselines3[extra]
gymnasium>=0.29.0

# Tools
sympy>=1.12
ddgs>=6.0.0

# Data
datasets>=2.14.0
numpy>=1.24.0
pandas>=2.0.0

# Progress/Logging
tqdm>=4.65.0
tensorboard>=2.14.0

# Environment variables
python-dotenv>=1.0.0

# API support
requests>=2.31.0
sentence-transformers>=2.2.0

# For Agent Tools
sympy>=1.12
ddgs>=6.0.0
openpyxl
pdfplumber
beautifulsoup4
xmltodict
scikit-learn
scipy
markitdown
pytesseract # Have to install this as well ``sudo apt install tesseract-ocr``
SpeechRecognition
pdf2image
opencv-python-headless

# Benchmarking
git+https://github.com/sierra-research/tau2-bench.git

#Dspy and gepa baseline
dspy

# Autogen baseline
autogen-agentchat
autogen-ext[magentic-one,openai,ollama] # Need to also install ``playwright install --with-deps chromium``